# CLion default CMake  build directory
cmake-build-*

# VS Code 
# - Default CMake build directories
/build/
/out/
# - 

# Python virtual environment
/venv

# Generated output
*.txt
*.svg

# VSCode Modern Fortran extension
*.i90
*.mod
